* {
  box-sizing: border-box;
}

html {
  font-family: Tahoma;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

app-root {
  width: 100%;
  height: 100%;
}

app-nav-bar {
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: lightblue;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
}

app-shapes-field {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

nav {
  display: block;
  width: 900px;
  margin: 0 auto;
  padding: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

  ul > li {
    display: inline-block;    
    border-radius: 5px;
    border: 2px solid transparent;
  }

.nav-option {
  display: block;
  line-height: 40px;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-family: Tahoma;
  color: #303B41;
  cursor: pointer;
}

li:hover {
  background-color: #D9F5FF;
  background-color: rgb(255,242,204);
  border: 2px solid rgb(210,202,170);
}

svg {
  overflow-x: visible;  
}

.svg-stroke {
  stroke-width: 5px;  
  stroke: lightblue;
}

.svg-shadow {  
  filter: drop-shadow( 0px 0px 7px lightblue);
}

.form-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.form-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 700px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
}

@media (max-width: 900px) {
  nav {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .form-container {
      width: 100%;
  }
}
