<nav>
  <ul>
    <li>
      <div [ngClass]="(shape_counter < max_counter_value ) ? 'nav-option' : 'nav-option-disabled'" (click)="createShape()">
        Создать
      </div>
    </li>
    <li>
      <div [ngClass]="(shape) ? 'nav-option' : 'nav-option-disabled'" (click)="editShape()">
        Изменить
      </div>
    </li>
    <li>
      <div [ngClass]="(shape) ? 'nav-option' : 'nav-option-disabled'" (click)="deleteShape()">
        Удалить
      </div>
    </li>
  </ul>
</nav>
<ng-container #actionForm></ng-container>
